In [4]:
#IMPORTAR JSON A MYSQL

In [ ]:
#DESCARGAR CONEXION A MYSQL

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python313\lib\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# importar csv a mysql

In [3]:
import json
import mysql.connector
from mysql.connector import Error
import pandas as pd 

DB_CONFIG = {
    'host': '127.0.0.1',
    'database': 'wine', 
    'user': 'root',   
    'password': '2112'  
}

# Ruta 
CSV_FILE_PATH = 'C:/Users/USER/OneDrive - Escuela Politécnica Nacional/Escritorio/Análisis de Datos/ProyectoFinalADD/winemag_data_first150k.csv' # ¡CAMBIA ESTO por la ruta correcta!

def import_wine_csv_data():
    conn = None
    try:
        # Conectar a la base de datos MySQL
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()

        # Cargar el archivo CSV en un DataFrame de Pandas
        df = pd.read_csv(CSV_FILE_PATH, index_col=0)
        df.index.name = 'id'
        df.reset_index(inplace=True)

        print(f"Total de reseñas de vino a importar desde CSV: {len(df)} filas.")

        # SQL para insertar datos
        insert_sql = """
        INSERT INTO wine_reviews_csv (
            id, country, description, designation, points, price, province,
            region_1, region_2, variety, winery
        ) VALUES (
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
        )
        """

        for i, row in enumerate(df.itertuples(index=False)):
            values = (
                row.id,
                row.country,
                row.description,
                row.designation if pd.notna(row.designation) else None,
                row.points,
                row.price if pd.notna(row.price) else None,
                row.province,
                row.region_1 if pd.notna(row.region_1) else None,
                row.region_2 if pd.notna(row.region_2) else None,
                row.variety,
                row.winery
            )
            try:
                cursor.execute(insert_sql, values)
                if (i + 1) % 10000 == 0:
                    print(f"  Insertados {i + 1} registros...")
            except Error as err:
                print(f"Error al insertar la reseña {i+1} (ID: {row.id}): {err}")
                pass

        conn.commit()
        print("\nImportación de reseñas de vino desde CSV completada exitosamente.")

    except FileNotFoundError:
        print(f"Error: El archivo '{CSV_FILE_PATH}' no se encontró.")
    except pd.errors.EmptyDataError:
        print(f"Error: El archivo CSV '{CSV_FILE_PATH}' está vacío.")
    except pd.errors.ParserError as e:
        print(f"Error al parsear el CSV: {e}")
    except Error as e:
        print(f"Error de MySQL: {e}")
    except Exception as e:
        print(f"Ocurrió un error inesperado: {e}")
    finally:
        if conn and conn.is_connected():
            cursor.close()
            conn.close()
            print("Conexión a MySQL cerrada.")

if __name__ == "__main__":
    import_wine_csv_data()

Total de reseñas de vino a importar desde CSV: 150930 filas.
Error al insertar la reseña 1134 (ID: 1133): 1054 (42S22): Unknown column 'nan' in 'field list'
  Datos problemáticos: (1133, nan, 'Delicate white flowers and a spin of lemon peel on the nose start this refined white. The bright fruit on the palate is tropical and exotic, but the minerality gives it lift. Fuller-bodied but poised, the wine has aging potential and a food-friendly character.', 'Askitikos', 90, 17.0, nan, None, None, 'Assyrtiko', 'Tsililis')
Error al insertar la reseña 1441 (ID: 1440): 1054 (42S22): Unknown column 'nan' in 'field list'
  Datos problemáticos: (1440, nan, 'A blend of 60% Syrah, 30% Cabernet Sauvignon and 10% Merlot, this inky garnet-colored wine offers aromas of cassis and elderberry. On the palate, there is a combination of cooked fruit and cool spice flavors yet there is no lack of accompanying acidity. Flavors of cassis, elderberry, anise, orange peel and vanilla are backed by silky tannins that stay smooth into the cooling finish.', 'Shah', 90, 30.0, nan, None, None, 'Red Blend', 'Büyülübağ')
  Insertados 10000 registros...
  Insertados 20000 registros...
  Insertados 30000 registros...
  Insertados 40000 registros...
  Insertados 50000 registros...
  Insertados 60000 registros...
Error al insertar la reseña 68227 (ID: 68226): 1054 (42S22): Unknown column 'nan' in 'field list'
  Datos problemáticos: (68226, nan, 'From first sniff to last, the nose never makes much of an impression; the wine has funk and generic chemical aromas but also your basic red apple and char. Pretty big and aggressive in the mouth, with snaggy acids and rough tannins.', 'Piedra Feliz', 81, 15.0, nan, None, None, 'Pinot Noir', 'Chilcas')
  Insertados 70000 registros...
  Insertados 80000 registros...
  Insertados 90000 registros...
  Insertados 100000 registros...
  Insertados 110000 registros...
Error al insertar la reseña 113017 (ID: 113016): 1054 (42S22): Unknown column 'nan' in 'field list'
  Datos problemáticos: (113016, nan, 'From first sniff to last, the nose never makes much of an impression; the wine has funk and generic chemical aromas but also your basic red apple and char. Pretty big and aggressive in the mouth, with snaggy acids and rough tannins.', 'Piedra Feliz', 81, 15.0, nan, None, None, 'Pinot Noir', 'Chilcas')
  Insertados 120000 registros...
  Insertados 130000 registros...
Error al insertar la reseña 135697 (ID: 135696): 1054 (42S22): Unknown column 'nan' in 'field list'
  Datos problemáticos: (135696, nan, 'From first sniff to last, the nose never makes much of an impression; the wine has funk and generic chemical aromas but also your basic red apple and char. Pretty big and aggressive in the mouth, with snaggy acids and rough tannins.', 'Piedra Feliz', 81, 15.0, nan, None, None, 'Pinot Noir', 'Chilcas')
  Insertados 140000 registros...
  Insertados 150000 registros...

Importación de reseñas de vino desde CSV completada exitosamente.
Conexión a MySQL cerrada.

In [10]:
import json
import mysql.connector
from mysql.connector import Error

# configuración de mysql
DB_CONFIG = {
    'host': '127.0.0.1',      
    'database': 'wine', 
    'user': 'root',  
    'password': '2112' 
}

# ruta
JSON_FILE_PATH = 'C:/Users/USER/OneDrive - Escuela Politécnica Nacional/Escritorio/Análisis de Datos/ProyectoFinalADD/winemag_data_130k_v2.json'

def import_wine_data():
    conn = None
    try:
        # Conectar a la base de datos MySQL
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()

        with open(JSON_FILE_PATH, 'r', encoding='utf-8') as f:
            data = json.load(f)

        if isinstance(data, list): 
            print(f"Total de reseñas de vino a importar: {len(data)}")

            insert_sql = """
            INSERT INTO wine_reviews_json (
                points, title, description, taster_name, taster_twitter_handle,
                price, designation, variety, region_1, region_2, province, country, winery
            ) VALUES (
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
            )
            """

            for i, review in enumerate(data):

                values = (
                    int(review.get('points')) if review.get('points') is not None else None,
                    review.get('title'),
                    review.get('description'),
                    review.get('taster_name'),
                    review.get('taster_twitter_handle'),
                    float(review.get('price')) if review.get('price') is not None else None,
                    review.get('designation'),
                    review.get('variety'),
                    review.get('region_1'),
                    review.get('region_2'),
                    review.get('province'),
                    review.get('country'),
                    review.get('winery')
                )
                try:
                    cursor.execute(insert_sql, values)
                except Error as err:
                    print(f"Error al insertar la reseña {i+1}: {err}")
                    print(f"  Datos problemáticos: {values}")
                    pass ¿

            # Confirmar los cambios en la base de datos
            conn.commit()
            print("Importación de reseñas de vino completada exitosamente.")
        else:
            print("El archivo JSON no es una lista de objetos, o tiene un formato inesperado.")

    except FileNotFoundError:
        print(f"Error: El archivo '{JSON_FILE_PATH}' no se encontró.")
    except json.JSONDecodeError as e:
        print(f"Error al decodificar el JSON: {e}")
    except Error as e:
        print(f"Error de MySQL: {e}")
    except Exception as e:
        print(f"Ocurrió un error inesperado: {e}")
    finally:
        if conn and conn.is_connected():
            cursor.close()
            conn.close()
            print("Conexión a MySQL cerrada.")

if __name__ == "__main__":
    import_wine_data()

Total de reseñas de vino a importar: 129971
Importación de reseñas de vino completada exitosamente.
Conexión a MySQL cerrada.

In [ ]:
#IMPORTAR LA DATABASE EN MYSQL A PYTHON

In [1]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

# conexión a MySQL 
DB_CONFIG = {
    'host': '127.0.0.1',
    'database': 'wine',
    'user': 'root',
    'password': '2112'
}

def export_mysql_to_pandas(table_name): 
    conn = None
    df = None
    try:
        # Conectar a la base de datos MySQL
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()

        query = f"SELECT * FROM {table_name}" 
        print(f"Ejecutando consulta: {query}")

        df = pd.read_sql_query(query, conn) 

        print(f"Datos de la tabla '{table_name}' cargados exitosamente en un DataFrame. Filas: {len(df)}")
        return df

    except Error as e:
        print(f"Error al conectar o ejecutar la consulta en MySQL: {e}")
        return None
    except Exception as e:
        print(f"Ocurrió un error inesperado: {e}")
        return None
    finally:
        if conn and conn.is_connected():
            cursor.close()
            conn.close()
            print("Conexión a MySQL cerrada.")

if __name__ == "__main__":
    print("--- Importando datos de wine_reviews_json a Python ---")
    df_json = export_mysql_to_pandas('wine_reviews_json') 
    if df_json is not None:
        print("Primeras 5 filas del DataFrame de JSON:")
        print(df_json.head())
        print("\nInformación del DataFrame de JSON:")
        df_json.info()

    print("\n" + "="*50 + "\n")

    print("--- Importando datos de wine_reviews_csv a Python ---")
    df_csv = export_mysql_to_pandas('wine_reviews_csv') 
    if df_csv is not None:
        print("Primeras 5 filas del DataFrame de CSV:")
        print(df_csv.head())
        print("\nInformación del DataFrame de CSV:")
        df_csv.info()

--- Importando datos de wine_reviews_json a Python ---
Ejecutando consulta: SELECT * FROM wine_reviews_json

C:\Users\USER\AppData\Local\Temp\ipykernel_16200\3047481440.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn) # <-- pd.read_sql_query necesita la CADENA SQL 'query'

Datos de la tabla 'wine_reviews_json' cargados exitosamente en un DataFrame. Filas: 259942
Conexión a MySQL cerrada.
Primeras 5 filas del DataFrame de JSON:
   id  points                                              title  \
0   1      87                  Nicosia 2013 Vulkà Bianco  (Etna)
1   2      87      Quinta dos Avidagos 2011 Avidagos Red (Douro)
2   3      87      Rainstorm 2013 Pinot Gris (Willamette Valley)
3   4      87  St. Julian 2013 Reserve Late Harvest Riesling ...
4   5      87  Sweet Cheeks 2012 Vintner's Reserve Wild Child...

                                         description         taster_name  \
0  Aromas include tropical fruit, broom, brimston...       Kerin O’Keefe
1  This is ripe and fruity, a wine that is smooth...          Roger Voss
2  Tart and snappy, the flavors of lime flesh and...        Paul Gregutt
3  Pineapple rind, lemon pith and orange blossom ...  Alexander Peartree
4  Much like the regular bottling from 2012, this...        Paul Gregutt

  taster_twitter_handle  price                         designation  \
0          @kerinokeefe    NaN                        Vulkà Bianco
1            @vossroger   15.0                            Avidagos
2           @paulgwine    14.0                                None
3                  None   13.0                Reserve Late Harvest
4           @paulgwine    65.0  Vintner's Reserve Wild Child Block

          variety             region_1           region_2           province  \
0     White Blend                 Etna               None  Sicily & Sardinia
1  Portuguese Red                 None               None              Douro
2      Pinot Gris    Willamette Valley  Willamette Valley             Oregon
3        Riesling  Lake Michigan Shore               None           Michigan
4      Pinot Noir    Willamette Valley  Willamette Valley             Oregon

    country               winery
0     Italy              Nicosia
1  Portugal  Quinta dos Avidagos
2        US            Rainstorm
3        US           St. Julian
4        US         Sweet Cheeks

Información del DataFrame de JSON:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259942 entries, 0 to 259941
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     259942 non-null  int64
 1   points                 259942 non-null  int64
 2   title                  259942 non-null  object
 3   description            259942 non-null  object
 4   taster_name            207454 non-null  object
 5   taster_twitter_handle  197516 non-null  object
 6   price                  241950 non-null  float64
 7   designation            185012 non-null  object
 8   variety                259940 non-null  object
 9   region_1               217448 non-null  object
 10  region_2               101022 non-null  object
 11  province               259816 non-null  object
 12  country                259816 non-null  object
 13  winery                 259942 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 27.8+ MB

==================================================

--- Importando datos de wine_reviews_csv a Python ---
Ejecutando consulta: SELECT * FROM wine_reviews_csv

C:\Users\USER\AppData\Local\Temp\ipykernel_16200\3047481440.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn) # <-- pd.read_sql_query necesita la CADENA SQL 'query'

Datos de la tabla 'wine_reviews_csv' cargados exitosamente en un DataFrame. Filas: 150925
Conexión a MySQL cerrada.
Primeras 5 filas del DataFrame de CSV:
   id country                                        description  \
0   0      US  This tremendous 100% varietal wine hails from ...
1   1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2   2      US  Mac Watson honors the memory of a wine once ma...
3   3      US  This spent 20 months in 30% new French oak, an...
4   4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro               None       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol               None  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude

Información del DataFrame de CSV:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150925 entries, 0 to 150924
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           150925 non-null  int64
 1   country      150925 non-null  object
 2   description  150925 non-null  object
 3   designation  105190 non-null  object
 4   points       150925 non-null  int64
 5   price        137230 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150925 non-null  object
 10  winery       150925 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB

In [ ]:
# UNIFICACION DE DATOS

In [2]:
import pandas as pd

print("Iniciando la unificación de DataFrames...")

df_unified = pd.concat([df_json, df_csv], ignore_index=True)

print("Unificación completada.")
print(f"Número total de reseñas unificadas: {len(df_unified)} filas.")

# verificar
print("\nPrimeras 5 filas del DataFrame unificado:")
print(df_unified.head())

print("\nÚltimas 5 filas del DataFrame unificado:")
print(df_unified.tail())

print("\nInformación del DataFrame unificado:")
df_unified.info()

print("\nColumnas del DataFrame unificado:")
print(df_unified.columns)

Iniciando la unificación de DataFrames...
Unificación completada.
Número total de reseñas unificadas: 410867 filas.

Primeras 5 filas del DataFrame unificado:
   id  points                                              title  \
0   1      87                  Nicosia 2013 Vulkà Bianco  (Etna)
1   2      87      Quinta dos Avidagos 2011 Avidagos Red (Douro)
2   3      87      Rainstorm 2013 Pinot Gris (Willamette Valley)
3   4      87  St. Julian 2013 Reserve Late Harvest Riesling ...
4   5      87  Sweet Cheeks 2012 Vintner's Reserve Wild Child...

                                         description         taster_name  \
0  Aromas include tropical fruit, broom, brimston...       Kerin O’Keefe
1  This is ripe and fruity, a wine that is smooth...          Roger Voss
2  Tart and snappy, the flavors of lime flesh and...        Paul Gregutt
3  Pineapple rind, lemon pith and orange blossom ...  Alexander Peartree
4  Much like the regular bottling from 2012, this...        Paul Gregutt

  taster_twitter_handle  price                         designation  \
0          @kerinokeefe    NaN                        Vulkà Bianco
1            @vossroger   15.0                            Avidagos
2           @paulgwine    14.0                                None
3                  None   13.0                Reserve Late Harvest
4           @paulgwine    65.0  Vintner's Reserve Wild Child Block

          variety             region_1           region_2           province  \
0     White Blend                 Etna               None  Sicily & Sardinia
1  Portuguese Red                 None               None              Douro
2      Pinot Gris    Willamette Valley  Willamette Valley             Oregon
3        Riesling  Lake Michigan Shore               None           Michigan
4      Pinot Noir    Willamette Valley  Willamette Valley             Oregon

    country               winery
0     Italy              Nicosia
1  Portugal  Quinta dos Avidagos
2        US            Rainstorm
3        US           St. Julian
4        US         Sweet Cheeks

Últimas 5 filas del DataFrame unificado:
            id  points title  \
410862  150925      91   NaN
410863  150926      91   NaN
410864  150927      91   NaN
410865  150928      90   NaN
410866  150929      90   NaN

                                              description taster_name  \
410862  Many people feel Fiano represents southern Ita...         NaN
410863  Offers an intriguing nose with ginger, lime an...         NaN
410864  This classic example comes from a cru vineyard...         NaN
410865  A perfect salmon shade, with scents of peaches...         NaN
410866  More Pinot Grigios should taste like this. A r...         NaN

       taster_twitter_handle  price      designation          variety  \
410862                   NaN   20.0             None      White Blend
410863                   NaN   27.0   Cuvée Prestige  Champagne Blend
410864                   NaN   20.0    Terre di Dora      White Blend
410865                   NaN   52.0  Grand Brut Rosé  Champagne Blend
410866                   NaN   15.0             None     Pinot Grigio

                 region_1 region_2            province country  \
410862  Fiano di Avellino     None      Southern Italy   Italy
410863          Champagne     None           Champagne  France
410864  Fiano di Avellino     None      Southern Italy   Italy
410865          Champagne     None           Champagne  France
410866         Alto Adige     None  Northeastern Italy   Italy

                       winery
410862  Feudi di San Gregorio
410863              H.Germain
410864              Terredora
410865                 Gosset
410866          Alois Lageder

Información del DataFrame unificado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410867 entries, 0 to 410866
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     410867 non-null  int64
 1   points                 410867 non-null  int64
 2   title                  259942 non-null  object
 3   description            410867 non-null  object
 4   taster_name            207454 non-null  object
 5   taster_twitter_handle  197516 non-null  object
 6   price                  379180 non-null  float64
 7   designation            290202 non-null  object
 8   variety                410865 non-null  object
 9   region_1               343318 non-null  object
 10  region_2               161975 non-null  object
 11  province               410741 non-null  object
 12  country                410741 non-null  object
 13  winery                 410867 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 43.9+ MB

Columnas del DataFrame unificado:
Index(['id', 'points', 'title', 'description', 'taster_name',
       'taster_twitter_handle', 'price', 'designation', 'variety', 'region_1',
       'region_2', 'province', 'country', 'winery'],
      dtype='object')

In [5]:
pip install pymongo

Requirement already satisfied: pymongo in c:\python313\lib\site-packages (4.13.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\python313\lib\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.