In [ ]:
#CSV

In [15]:
# 1. Importar librerías
import pandas as pd

# 2. Leer archivo CSV 
df = pd.read_csv('Parks_Special_Events.csv')

# 3. Mostrar las primeras filas
display(df.head())

# 4. Ver información general del DataFrame
display(df.info())

# 5. Verificar valores nulos por columna
display(df.isnull().sum())

# 6. Eliminar filas duplicadas
df = df.drop_duplicates()

# 7. Rellenar valores nulos
df = df.fillna('Sin datos')

# 8. Mostrar resumen estadístico de columnas numéricas
display(df.describe())

# 9. Ver las primeras filas después de limpiar
print("Datos limpios:")
display(df.head())

# 10. Guardar el resultado en un nuevo archivo 
df.to_csv('Parks_Special_Events_LIMPIO.csv', index=False)

,Unit,Group Name/Partner,Date and Time,Borough,LocationType,Location,Event Name,Event Type,Category,Classification,Attendance,Audience,Source
0,Urban Park Rangers,Urban Park Rangers,10/12/2019 11:00:00 AM,Queens,Adventure Course,Alley Pond Adventure Course,PEP Family and Friends,Agency Produced Event,Nature,NaN,75.0,Children;#Young Adult;#Adults;#Teens;#Tot,Sharepoint
1,Urban Park Rangers,Greenbelt Conservancy,11/20/2019 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Local Event,Nature,NaN,30.0,General Public,Sharepoint
2,Urban Park Rangers,Greenbelt Nature Center,12/19/2019 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family science night,Community Based Event,Academic/Out of School time,NaN,9.0,Children;#Adults;#Teens,Sharepoint
3,Urban Park Rangers,Greenbelt,01/15/2020 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Agency Produced Event,Academic/Out of School time,NaN,30.0,Children;#Adults;#Teens,Sharepoint
4,Urban Park Rangers,Greenbelt Nature Center,01/19/2020 11:00:00 AM,Staten Island,Nature Center,Greenbelt Nature Center,Winter Wilderness Skills,Local Event,Nature,NaN,62.0,Children;#Young Adult;#Adults;#Teens,Sharepoint

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19765 entries, 0 to 19764
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unit                11853 non-null  object
 1   Group Name/Partner  7739 non-null   object
 2   Date and Time       19765 non-null  object
 3   Borough             19765 non-null  object
 4   LocationType        18967 non-null  object
 5   Location            19765 non-null  object
 6   Event Name          19564 non-null  object
 7   Event Type          11853 non-null  object
 8   Category            19636 non-null  object
 9   Classification      16085 non-null  object
 10  Attendance          19617 non-null  float64
 11  Audience            11853 non-null  object
 12  Source              19765 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.0+ MB

None

Unit                   7912
Group Name/Partner    12026
Date and Time             0
Borough                   0
LocationType            798
Location                  0
Event Name              201
Event Type             7912
Category                129
Classification         3680
Attendance              148
Audience               7912
Source                    0
dtype: int64

,Unit,Group Name/Partner,Date and Time,Borough,LocationType,Location,Event Name,Event Type,Category,Classification,Attendance,Audience,Source
count,19702,19702,19702,19702,19702,19702,19702,19702,19702,19702,19702.0,19702,19702
unique,7,1257,11374,5,9,1155,5648,6,14,36,558.0,728,2
top,Recreation,Sin datos,10/22/2022 04:00:00 PM,Bronx,Park,Hunts Point Recreation Center,Saturday Night Lights,Sin datos,Mobile Unit,Summer 2020,0.0,Sin datos,Sharepoint
freq,8575,11983,31,5507,8094,563,1221,7868,5751,4326,1837.0,7868,13663

Datos limpios:

,Unit,Group Name/Partner,Date and Time,Borough,LocationType,Location,Event Name,Event Type,Category,Classification,Attendance,Audience,Source
0,Urban Park Rangers,Urban Park Rangers,10/12/2019 11:00:00 AM,Queens,Adventure Course,Alley Pond Adventure Course,PEP Family and Friends,Agency Produced Event,Nature,Sin datos,75.0,Children;#Young Adult;#Adults;#Teens;#Tot,Sharepoint
1,Urban Park Rangers,Greenbelt Conservancy,11/20/2019 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Local Event,Nature,Sin datos,30.0,General Public,Sharepoint
2,Urban Park Rangers,Greenbelt Nature Center,12/19/2019 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family science night,Community Based Event,Academic/Out of School time,Sin datos,9.0,Children;#Adults;#Teens,Sharepoint
3,Urban Park Rangers,Greenbelt,01/15/2020 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Agency Produced Event,Academic/Out of School time,Sin datos,30.0,Children;#Adults;#Teens,Sharepoint
4,Urban Park Rangers,Greenbelt Nature Center,01/19/2020 11:00:00 AM,Staten Island,Nature Center,Greenbelt Nature Center,Winter Wilderness Skills,Local Event,Nature,Sin datos,62.0,Children;#Young Adult;#Adults;#Teens,Sharepoint

In [17]:
import pandas as pd
from pymongo import MongoClient

# 1. Leer el archivo CSV
df = pd.read_csv('Parks_Special_Events_LIMPIO.csv')
display(df.head())

# URI de conexión
uri = "mongodb+srv://alexmateo2753:contrasena123@cluster0.4dccbj0.mongodb.net/actividad?retryWrites=true&w=majority&appName=Cluster0"

# Conectar con MongoDB
cliente = MongoClient(uri)

# Seleccionar base de datos y colección
db = cliente['Proyecto_Analisis']           
coleccion = db['Eventos_Publicos_1']   

# Convertir DataFrame a diccionarios
datos = df.to_dict(orient='records')

# Insertar en la colección
coleccion.insert_many(datos)

print(f"Se subieron {len(datos)} documentos a MongoDB Atlas")

,Unit,Group Name/Partner,Date and Time,Borough,LocationType,Location,Event Name,Event Type,Category,Classification,Attendance,Audience,Source
0,Urban Park Rangers,Urban Park Rangers,10/12/2019 11:00:00 AM,Queens,Adventure Course,Alley Pond Adventure Course,PEP Family and Friends,Agency Produced Event,Nature,Sin datos,75.0,Children;#Young Adult;#Adults;#Teens;#Tot,Sharepoint
1,Urban Park Rangers,Greenbelt Conservancy,11/20/2019 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Local Event,Nature,Sin datos,30.0,General Public,Sharepoint
2,Urban Park Rangers,Greenbelt Nature Center,12/19/2019 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family science night,Community Based Event,Academic/Out of School time,Sin datos,9.0,Children;#Adults;#Teens,Sharepoint
3,Urban Park Rangers,Greenbelt,01/15/2020 06:00:00 PM,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Agency Produced Event,Academic/Out of School time,Sin datos,30.0,Children;#Adults;#Teens,Sharepoint
4,Urban Park Rangers,Greenbelt Nature Center,01/19/2020 11:00:00 AM,Staten Island,Nature Center,Greenbelt Nature Center,Winter Wilderness Skills,Local Event,Nature,Sin datos,62.0,Children;#Young Adult;#Adults;#Teens,Sharepoint

Se subieron 19702 documentos a MongoDB Atlas

In [18]:
#CSV DB

In [25]:
# 1. Importar librerías
import pandas as pd

# 2. Leer archivo CSV 
df = pd.read_csv('Public_Events_at_the_Empire_State_Plaza.csv')

# 3. Mostrar las primeras filas
display(df.head())

# 4. Ver información general del DataFrame
display(df.info())

# 5. Verificar valores nulos por columna
display(df.isnull().sum())

# Eliminar una columnas vacias
df = df.drop('Event ID', axis=1)

# 6. Eliminar filas duplicadas
df = df.drop_duplicates()

# 7. Rellenar valores nulos
df = df.fillna('Sin datos')

# 8. Mostrar resumen estadístico de columnas numéricas
display(df.describe())

# 9. Ver las primeras filas después de limpiar
print("Datos limpios:")
display(df.head())

# 10. Guardar el resultado en un nuevo archivo 
df.to_csv('Public_Events_at_the_Empire_State_Plaza_LIMPIO.csv', index=False)

,Event ID,Event Date,Start Time,End Time,Event Name,Event Description,Event Location,Admission
0,NaN,01/03/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE
1,NaN,01/04/2023,10:00 A.M.,2:00 P.M.,Farmers Market,"Empire State Plaza Farmers Market, Indoors on ...","Empire State Plaza, Indoors",FREE
2,NaN,01/05/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE
3,NaN,01/07/2023,9:00 A.M.,12:00 P.M.,Learn to Skate Clinic,NaN,Empire State Plaza Ice Rink,FREE
4,NaN,01/10/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12282 entries, 0 to 12281
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event ID           8880 non-null   float64
 1   Event Date         12282 non-null  object
 2   Start Time         11436 non-null  object
 3   End Time           10932 non-null  object
 4   Event Name         12282 non-null  object
 5   Event Description  10596 non-null  object
 6   Event Location     12222 non-null  object
 7   Admission          5557 non-null   object
dtypes: float64(1), object(7)
memory usage: 767.8+ KB

None

Event ID             3402
Event Date              0
Start Time            846
End Time             1350
Event Name              0
Event Description    1686
Event Location         60
Admission            6725
dtype: int64

,Event Date,Start Time,End Time,Event Name,Event Description,Event Location,Admission
count,11750,11750,11750,11750,11750,11750,11750
unique,5175,217,229,2382,2263,556,180
top,08/22/2018,10:00 a.m.,Sin datos,Tour the New York State Capitol,Sin datos,Information Desk in Capitol's State Street Lobby,Sin datos
freq,14,1325,1345,1392,1646,1460,6706

Datos limpios:

,Event Date,Start Time,End Time,Event Name,Event Description,Event Location,Admission
0,01/03/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE
1,01/04/2023,10:00 A.M.,2:00 P.M.,Farmers Market,"Empire State Plaza Farmers Market, Indoors on ...","Empire State Plaza, Indoors",FREE
2,01/05/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE
3,01/07/2023,9:00 A.M.,12:00 P.M.,Learn to Skate Clinic,Sin datos,Empire State Plaza Ice Rink,FREE
4,01/10/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE

In [26]:
import pandas as pd
import sqlite3

# 1. Leer el CSV
df = pd.read_csv('Public_Events_at_the_Empire_State_Plaza_LIMPIO.csv')  

# 2. Crear conexión SQLite
conn = sqlite3.connect('Public_Events_at_the_Empire_State_Plaza.db')

# 3. Subir el DataFrame como una tabla
df.to_sql('datos', conn, if_exists='replace', index=False)

# 4. Cerrar conexión
conn.close()

print("CSV convertido a archivo SQL con éxito.")

CSV convertido a archivo SQL con éxito.

In [27]:
import sqlite3
import pandas as pd

# Conectar a tu archivo SQLite
conn = sqlite3.connect('Public_Events_at_the_Empire_State_Plaza.db')


# Leer una tabla (ajusta el nombre si es diferente)
df = pd.read_sql_query("SELECT * FROM datos", conn)

conn.close()

# Ver las primeras filas
print("Datos de la tabla:")
display(df.head())

Datos de la tabla:

,Event Date,Start Time,End Time,Event Name,Event Description,Event Location,Admission
0,01/03/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE
1,01/04/2023,10:00 A.M.,2:00 P.M.,Farmers Market,"Empire State Plaza Farmers Market, Indoors on ...","Empire State Plaza, Indoors",FREE
2,01/05/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE
3,01/07/2023,9:00 A.M.,12:00 P.M.,Learn to Skate Clinic,Sin datos,Empire State Plaza Ice Rink,FREE
4,01/10/2023,5:00 P.M.,6:00 P.M.,Fitness at the Plaza,"Free and open to everyone regardless of age, f...",Cornerstone at the Plaza,FREE

In [28]:
from pymongo import MongoClient

uri = "mongodb+srv://alexmateo2753:contrasena123@cluster0.4dccbj0.mongodb.net/actividad?retryWrites=true&w=majority&appName=Cluster0"
cliente = MongoClient(uri)

# Seleccionar base de datos y colección
db = cliente['Proyecto_Analisis']           
coleccion = db['Eventos_Publicos_2'] 

# Convertir DataFrame en una lista de diccionarios
documentos = df.to_dict(orient='records')

# Insertar todos los registros en la colección
coleccion.insert_many(documentos)

print(f" Se subieron {len(documentos)} documentos desde SQLite a MongoDB Atlas.")

 Se subieron 11750 documentos desde SQLite a MongoDB Atlas.